.sidebar{
    background: linear-gradient(
        109.6deg,
        rgb(36, 45, 57) 11.2%,
        rgb(16, 37, 60) 51.2%,
        rgb(0, 0, 0) 98.6%
      );
    width:200px;
    min-height:700px;
    text-align: center;
    color: aliceblue;
    list-style-type: none;
    top:-20px;
    left:-20px
   

}
.project{
    display: flex;
}
.sidebar{
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    padding-top: 20px;
    padding-right: 30px;
    padding-left: 10px;
}
.sidebar button{
    background: linear-gradient(
        109.6deg,
        rgb(36, 45, 57) 11.2%,
        rgb(16, 37, 60) 51.2%,
        rgb(0, 0, 0) 98.6%
      );
      width:100%;
      padding: 10px;
      position: relative;
      border-radius: 1em;
      color: white;
      font-weight: bolder;
      box-shadow: 5px 18px 15px -1px #000000;
      border: none;
      font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.sidebar button:hover{
    position: relative;
    top: 3px;
    cursor: pointer;
}

.promain{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  

}

.promain img{
    width: 400px;
    height: 300px;
    margin-top: -200px;
    border: 1px solid black;
    box-shadow: 1px 13px 12px -2px #000000;

}
.promain img:hover{
    box-shadow: 5px 18px 15px -1px #000000;


}








